html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}
.row {
  display: flex;
}

.column {
  flex: 50%;
}

#navbar1 {
    width:100%;
}
#map1{
    width:100%;
}

#navbar2 {
    width:50%;
}
#map2{
    width:50%;
}